## 1. Hello World

Usually first message printed in any programming language

In [17]:
print("Hello World")

Hello World

In [18]:
"Hello World"

'Hello World'

In [19]:
# this is how you write comments
#printing my name
print("Hello Samieh")

Hello Samieh

## 2. Data Types

In [20]:
#should give you the type of variable which will be int
#type() will show what type of variable you have
type(1)

int

In [22]:
type(3.4575755)

float

You can do basic math in python as well

In [23]:
1 + 2

3

In [24]:
4-1

3

In [25]:
#now we will look at booleans
#True and False Statements
type(True)

bool

In [26]:
type(False)

bool

2.1 Now we will be looking at strings!

In [27]:
type("Hello World")

str

In [28]:
name = "Samieh"
type(name)

str

In [30]:
"Hello World".upper()

'HELLO WORLD'

In [31]:
print("Hello World".upper())

HELLO WORLD

In [34]:
print("Hello World".lower())
print("Hello World".title())
print("Hello World".upper())

hello world
Hello World
HELLO WORLD

In [36]:
print("Hello World".count("l"))

3

In [37]:
"Hello World".replace("o","u")

'Hellu Wurld'

## 3. Variables

In [49]:
message_1 = "Im learning Python, "
print(message_1.upper())

IM LEARNING PYTHON,

In [50]:
message_2 = "and its fun!"
print(message_2.upper())

AND ITS FUN!

In [52]:
print(message_1.upper() + message_2.upper())

IM LEARNING PYTHON, AND ITS FUN!

In [53]:
message_1 + " " + message_2

'Im learning Python,  and its fun!'

In [56]:
print(message_1.title() + " " + message_2.title())

Im Learning Python,  And Its Fun!

In [57]:
message = message_1 + message_2
print(message)

Im learning Python, and its fun!

In [58]:
f'Hello World'

'Hello World'

In [59]:
f'message_1'

'message_1'

In [63]:
f'{message_1} {message_2}'

'Im learning Python,  and its fun!'

## 4. List

In [73]:
countries = ['United States','Brazil', 'Great Britain', 'China']

In [74]:
print(countries[0])
print(countries[1])
print(countries[2])

United States
Brazil
Great Britain

In [75]:
print(countries[-1])

China

In [76]:
print(countries[-4])

United States

In [78]:
#slicing
print(countries[0:4])

['United States', 'Brazil', 'Great Britain', 'China']

In [79]:
print(countries[2:3])

['Great Britain']

In [80]:
print(countries[0:10])

['United States', 'Brazil', 'Great Britain', 'China']

4.0.1 Adding Elements to a lists

In [81]:
print(countries.append("Canada"))

None

In [82]:
print(countries)

['United States', 'Brazil', 'Great Britain', 'China', 'Canada']

In [83]:
countries_2 = ['Palestine', 'Germany', 'Austria', 'Australia']
print(countries_2)

['Palestine', 'Germany', 'Austria', 'Australia']

In [84]:
print(countries + countries_2)

['United States', 'Brazil', 'Great Britain', 'China', 'Canada', 'Palestine', 'Germany', 'Austria', 'Australia']

In [85]:
nested_list = [countries, countries_2]
print(nested_list)

[['United States', 'Brazil', 'Great Britain', 'China', 'Canada'], ['Palestine', 'Germany', 'Austria', 'Australia']]

4.0.2 Removing Elements from a list

In [86]:
countries.remove('United States')

In [87]:
print(countries)

['Brazil', 'Great Britain', 'China', 'Canada']